.container {
    padding: 0 2rem 2.8rem;
}

.filterButtons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.filterBiodiversity {
    display: flex;
    margin-top: -2rem;
    align-items: center;
    justify-content: center;
    width: 8rem;
    padding: 1rem 2rem;
    border: none;
    font-size: 0.96rem;
    font-weight: 560;
    letter-spacing: 0.02rem;
    color: var(--font-color-secondary);
    background-color: var(--color-off-white);
    transition: 0.2s;
}

.active {
    background-color: var(--color-primary);
    color: var(--color-off-white);
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.8rem;
}

.grid li {
    list-style: none;
}